body {
    margin: 0;
}

.categories {
    list-style: none;
    padding-left: 0;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.category-text {
    margin-left: 40px;
    font-family: 'DynaPuff', cursive;
    font-size: 1.8rem;
    color: white;
}

.buttons {
    list-style: none;
    margin-right: 40px;
    padding: 0;
    display: flex;
    align-items: center;
}

.category-expand, .category-minimize {
    width: 50px;
    background-color: #72afe7;
    border: 1px solid white;
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer
}

.category-minimize {
    margin-left: 5px;
}

#meat, #dairy, #dried-goods, #veggies, #bread, #cleaners, #care, #beverages, #others {
    background-color: #72afe7;
}

.add-items-container {
    display: none;
}

.add-items {
    display: flex;
    justify-content: space-evenly;
}

.items-actions {
    display: flex;
    list-style: none;
}

.items-actions > li:not(.added-item) {
    padding: 0 20px 0 20px;
}

.items-actions > li:not(.checkbox) {
    padding: 0 20px 0 20px;
}